:root {
  --moment-radius-s: 4px;
  --moment-radius-m: 8px;
  --moment-radius-l: 12px;
  --moment-font-size-1: 9px;
  --moment-font-size-2: 10px;
  --moment-font-size-3: 11px;
  --moment-font-size-4: 12px;
  --moment-font-size-5: 13px;
  --moment-font-size-6: 14px;
  --moment-font-size-7: 15px;
  --moment-font-size-8: 16px;
  --moment-font-size-9: 17px;
  --moment-font-size-10: 18px;
  --moment-color-primary: #1677ff;
  --moment-color-success: #00b578;
  --moment-color-warning: #ff8f1f;
  --moment-color-danger: #ff3141;
  --moment-color-text: #333333;
  --moment-color-text-secondary: #666666;
  --moment-color-weak: #999999;
  --moment-color-light: #cccccc;
  --moment-color-border: #eeeeee;
  --moment-color-background: #ffffff;
  --moment-color-white: #ffffff;
  --moment-color-box: #f5f5f5;
  --moment-color-text-light-solid: var(--moment-color-white);
  --moment-color-text-dark-solid: #000000;
  --moment-color-fill-content: var(--moment-color-box);
  --moment-font-size-main: var(--moment-font-size-5);
  --moment-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
        helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
        'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --moment-border-color: var(--moment-color-border);
}
