.pages-home {
  width: 100vw;
  height: 100vh;
  --height: 45px;
  --text-align: right;
}
.pages-home-by {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pages-home-header {
  z-index: 10000;
  width: 100%;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--moment-color-background);
  height: var(--height);
  font-weight: bold;
  border-bottom: 1px solid var(--moment-color-border);
}
.pages-home-header-title {
  font-size: var(--moment-font-size-10);
  text-align: center;
}
.pages-home-clear {
  height: var(--height);
}
.pages-home-content {
  padding: 12px;
}
.pages-home-content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages-home-content-img img {
  width: 150px;
  border-radius: var(--moment-radius-l);
}
.pages-home-content-children {
  font-weight: 500;
  font-size: var(--moment-font-size-7);
}
.pages-home.pages-home > .intuition-list {
  background-color: #f5f7fa;
}
.pages-home .intuition-list-item-content-prefix,
.pages-home .adm-list-item-content-prefix {
  display: flex;
  align-items: center;
}
.pages-home .intuition-list-item-content-prefix img,
.pages-home .adm-list-item-content-prefix img {
  display: flex;
  align-items: center;
}
