.theMoment-table {
  --table-col-padding: 10px;
  --table-th-wight: bold;
  --table-header-color: var(--moment-color-box);
  --table-main-color: #fff;
  --table-text-color: #000;
  --table-header-text: var(--table-text-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--table-text-color);
  font-size: 14px;
}
.theMoment-table .theMoment-table-tr {
  display: table-row;
}
.theMoment-table .theMoment-table-tr .theMoment-table-td {
  display: table-cell;
  padding: var(--table-col-padding);
}
.theMoment-table .theMoment-table-tr .theMoment-table-th {
  font-weight: var(--table-th-wight);
}
.theMoment-table .theMoment-table-tr .theMoment-table-th-sorted-turn {
  display: inline-block;
  transform: rotate(-180deg);
}
.theMoment-table .theMoment-table-tr .theMoment-table-th-sorted {
  margin-left: 5px;
}
.theMoment-table .theMoment-table-tr .theMoment-table-bordered {
  border: 1px solid var(--moment-color-border);
}
.theMoment-table .theMoment-table-align-left {
  text-align: left;
}
.theMoment-table .theMoment-table-align-center {
  text-align: center;
}
.theMoment-table .theMoment-table-align-right {
  text-align: right;
}
.theMoment-table .theMoment-table-main {
  display: table;
  width: 100%;
  border-collapse: collapse;
  overflow-x: hidden;
  background: var(--table-main-color);
}
.theMoment-table .theMoment-table-main-head {
  display: table-header-group;
  background: var(--table-header-color);
  color: var(--table-header-text);
}
.theMoment-table .theMoment-table-main-body {
  display: table-row-group;
}
.theMoment-table .theMoment-table-main-summary {
  color: var(--table-text-color);
  background-color: var(--table-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: var(--table-col-padding);
}
