.theMoment-table {
  --table-col-padding: 10px;
  --table-th-wight: bold;
  --table-header-color: #f5f5f5;
  --table-main-color: #fff;
  display: flex;
  width: 100%;
}
.theMoment-table .theMoment-table-tr {
  display: table-row;
}
.theMoment-table .theMoment-table-tr .theMoment-table-td {
  display: table-cell;
  padding: var(--table-col-padding);
}
.theMoment-table .theMoment-table-tr .theMoment-table-th {
  font-weight: var(--table-th-wight);
}
.theMoment-table .theMoment-table-tr .theMoment-table-th-sorted {
  display: inline-block;
  transform: rotate(-180deg);
}
.theMoment-table .theMoment-table-align-left {
  text-align: left;
}
.theMoment-table .theMoment-table-align-center {
  text-align: center;
}
.theMoment-table .theMoment-table-align-right {
  text-align: right;
}
.theMoment-table .theMoment-table-main {
  display: table;
  width: 100%;
  border-collapse: collapse;
  overflow-x: hidden;
  background: var(--table-main-color);
}
.theMoment-table .theMoment-table-main-head {
  display: table-header-group;
  background: var(--table-header-color);
}
.theMoment-table .theMoment-table-main-body {
  display: table-row-group;
}
